#main{
    width: 100%;
    margin: 0 auto;
}
#registerForm {
    margin: 0 auto;
    margin-top: 20px;
}
.form-group{
    font-size: 14px;
}
header{
    padding: 10px;
    border-bottom: 1px solid #5a6268;
}
header img{
    margin-right: 20px;
}
#btnGroup{
    position: relative;
}
.errorMsg:after{
    content: 'Fill all fields correctly';
    display: block;
    color: red;
    position: absolute;
    left: 30%;
    top: 0;
}
.emailErrorMsg:after{
    content: 'User with such email was already registered';
    display: block;
    color: red;
    position: absolute;
    left: 30%;
    top: 0;
}

#registerForm label:before{
    content: '*';
    color: red;
}
#registerForm #optional:before{
    content: '';
}