#main{
    width: 100%;
    margin: 0 auto;
}
.hidden{
    display: none!important;
}

/*====================================================================================*/
header{
    padding: 10px;
    border-bottom: 1px solid #5a6268;
}
header img{
    margin-right: 20px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    padding: 0 10px;
    width: 20%;
    margin: 0;
    justify-content: space-evenly;
}



/*====================================================================================*/


#registerForm, #logInForm {
    margin: 0 auto;
    margin-top: 20px;
}
.form-group{
    font-size: 14px;
}
#btnGroup{
    position: relative;
}
.errorMsg:after{
    content: 'Fill all fields correctly';
    display: block;
    color: red;
    position: absolute;
    left: 30%;
    top: 0;
}
.emailErrorMsg:after{
    content: 'User with such email was already registered';
    display: block;
    color: red;
    position: absolute;
    left: 30%;
    top: 0;
}

#registerForm label:before{
    content: '*';
    color: red;
}
#registerForm #optional:before{
    content: '';
}
/*====================================================================================*/


.greetingMsg{
    margin: 0 auto;
    padding: 40px;
    width: 30%;
    text-align: center;
}
.greetingMsg span{
    font-size: 20px;
}
.greetingMsg p{
    margin-bottom: 2px;
}

/*========================================================================*/

.invalidPsdMsg:after{
    content: 'Wrong password';
    display: block;
    color: red;
    position: absolute;
    left: 30%;
    top: 0;
}
.invalidEmailMsg:after{
    content: 'User with such email is not registered';
    display: block;
    color: red;
    position: absolute;
    left: 30%;
    top: 0;
}
/*=====================================================================================================*/

.userInfo{
    margin-top: 10px;
}
.userInfo .form-control{
    padding: 3px;
}
.photoBlock img{
    width: 100%;
}
.infoBlock .w30{
    margin-top: 13px;
    width: 30%;
    margin-bottom: 5px;
}
.infoBlock>div{
    height: 60px;
}
.userInfo .buttons{
    margin-top: 30px;
    width: auto;
}
.buttons input{
    margin-right: 5px;
}
.userInfo .fa{
    vertical-align: super;
}
.userInfo .fa:focus,
.userInfo button:focus{
   outline: none;
}
.userInfo button{
    background: none;
    border: none;
    cursor: pointer;
}
/*============================================================================================*/
.searchUser{
    margin-top: 10px;
}
#inputForSearch{
    width: 40%;
}
.friendInfo>.d-flex{
    margin: 15px 0;
    justify-content: space-between;
}
.friendInfo img{
    width: 100%;
    height: 100%;
}
.friendInfo .col-sm-2{
    padding-left: 0;
}
.friendInfo p{
    margin-bottom: 2px;
}
.noUsersMsg:after{
    content: 'There is no users with such name';
    display: block;
    margin-top: 10px;
}
/*====================================================================================================*/
#friendItem{
    margin-top: 10px;
}
#friendItem>div{
    border-bottom: 1px solid #dbdbdb;
    width: 70%;
    padding: 10px;
}
#friendItem img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#friendItem .d-flex{
    margin-bottom: 10px;
}
/*===========================================================================*/
#friendPage{
    margin-top: 10px;
}
#friendPage img{
    width: 100%;
    margin-bottom: 10px;
}
#friendPage .col-sm-8 .col-sm-3{
    padding: 5px;
}
#friendPage .col-sm-8 .col-sm-3 img{
    width: 70%;
    height: 50%;
    cursor: pointer;
}
#friendPage .col-sm-8 .col-sm-3 p{
    margin-bottom: 0;
}
#friendPage .col-sm-8{
    padding-left: 20px;
    padding-top: 10px;
    border-top: 1px solid #5a6268;
}